<h2>Add a dish</h2>

<form>
    <label for="dish_name">Dish Name*</label>
    <input name="dish_name" type="text" required>

    <label for="description">Description</label>
    <textarea name="description" required></textarea>

    <label for="guest_name">Guest Name*</label>
    <input name="guest_name" type="text" required>

    <label for="has_nuts">Has Nuts?</label>
    <input name="has_nuts" type="checkbox">

    <button type="submit">Add Dish</button>

</form>

<script src="/js/add-dish.js"></script>