
  <div class="flex-column justify-space-around">
   
    <div class="menu-container">
      <div class="card-header col-md-10">
      <h2>
        {{dish_name}}
      </h2>
      </div>
      <div>
        <h3>Brought by: {{guest_name}}</h3>
        <p>{{description}}</p>

        {{#if has_nuts}}
        <p>
          <strong>
            THIS DISH CONTAINS NUTS
          </strong>
        </p>
        {{else}}
          <p>No nuts detected</p>
        {{/if}}
      </div>
    </div>

